@charset "UTF-8";
.type_text{
   margin-left:50px;
}
.type_select_btn{
   background-color:#fff;
   border:none;
   width: 300px;
   height: 300px;
   margin:10px;
   margin-left:50px;
} 
.type_select_btn:hover{
   transform: scale(0.96);
   cursor:pointer;
} 